
*{margin:0;padding:0}
.header{width:98vw;
	height:95vh;
	background-image:
	url("pexels-fox-58267-1172675.jpg");
background-position:cover;padding-right:10px}
	.main{display:flex;
		justify-content:space-between;}
.logo{color:white;
	padding:30px 40px;}	
.menu{display:flex;
padding:20px 10px}
.menu li{list-style-type:none;
	}

.menu li a{padding:0 20px;
text-decoration:none;
color:white}

.menu li a:hover{border-bottom:2px solid aqua}
.ttt{display:flex;
	flex-direction:column;
	align-items:center;
justify-content:center;
height:70vh;}	
.b{}

.buttonn{color:white;
	text-decoration:none;
border:2px solid white;
padding:20px 60px;
border-radius:35%;
background-color:transparent;
font-size:2rem;
}
.bd p{font-size:2rem;
color:white;}
.about{border:2px solid black}
.me{display:flex;
	justify-content:space-around;}
.me img{width:30vw;
height:40vh;}
h2{color:green;
font-size:3rem;
text-align:center; }
h3{text-align:center;}
.artical{text-align:center}
.connection p{text-align:center;
font-size:1rem;
font-weight:bolder;}
;}
.social{}
.social ul{display:flex;
	justify-content:center;}

.social li{list-style-type:none;padding:10px 10px;
	}
.social li a{}
.social li a img{width:3vw;height:5vh}
.services{background-color:silver;
}
.servicesg{text-align:center;}
.serh3{font-size:2rem}

.services p{font-size:1rem}
.servicesff{display:flex;
justify-content:center;
align-items:center;
background-color:black;color:white;
;}
.servicesf{display:grid;
grid-template-columns:repeat(2,1fr);
grid-row-gap:30px;
grid-column-gap:30px;
padding:20px 10px;}

.one{background-color:black;
	}
.one img{padding-left:10px;}

.one:hover{border:2px solid silver;}


.two{background-color:black}
.two img{padding-left:10px;}

.two:hover{border:2px solid silver;}


.three{background-color:black}
.three img{padding-left:10px;}

.three:hover{border:2px solid silver;}



.four{background-color:black}
.four img{padding-left:10px;}


.four:hover{border:2px solid silver;}
